@import '_vars.scss';

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ box glows ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
@mixin glowBox($radius: 10px) {
  box-shadow: 0px 0px $radius $magenta-d;
}
@mixin glowBoxAlt($radius: 10px) {
  box-shadow: 0px 0px $radius $cyan-d;
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ text glows ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
@mixin glowText() {
  color: $magenta-l;
  text-shadow: 0px 0px 15px $magenta-d;
}
@mixin glowTextAlt() {
  color: $cyan-l;
  text-shadow: 0px 0px 15px $cyan-d;
}
@mixin glowTextWhite() {
  color: $white;
  text-shadow: 0px 0px 15px $white;
}