@import '_vars.scss';

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ box glows ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
@mixin glowBox($radius: 10px) {
  box-shadow: 0px 0px $radius $magenta-d;
}
@mixin glowBoxAlt($radius: 10px) {
  box-shadow: 0px 0px $radius $cyan-d;
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ text glows ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
@mixin glowText() {
  color: $magenta-l;
  text-shadow: 0px 0px 15px $magenta-d;
}
@mixin glowTextAlt() {
  color: $cyan-l;
  text-shadow: 0px 0px 15px $cyan-d;
}
@mixin glowTextWhite() {
  color: $white;
  text-shadow: 0px 0px 15px $white;
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ display font ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
@mixin displayFont() {
  @include glowText();
  font-family: 'Faster One', serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height:1;
}
@mixin displayFontAlt() {
  @include displayFont();
  @include glowTextAlt();
  font-size: $font-size-m;
  @media(min-width:$breakpoint-width) {
    font-size: $font-size-l;
  }
}
@mixin displayFontHuge() {
  @include displayFont();
  font-size: $font-size-l;
  @media(min-width:$breakpoint-width) {
    font-size: $font-size-ll;
  }
}
@mixin displayFontAltHuge() {
  @include displayFontAlt();
  font-size: $font-size-l;
  @media(min-width:$breakpoint-width) {
    font-size: $font-size-ll;
  }
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ sans upper font ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
@mixin sansUpper() {
  @include glowText();
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
@mixin sansUpperAlt() {
  @include sansUpper();
  @include glowTextAlt();
}
@mixin sansUpperWhite() {
  @include sansUpper();
  @include glowTextWhite();
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ default (sans) font ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
@mixin defaultFont() {
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size;
  font-weight:600;
  letter-spacing: 2px;
  line-height:1.4;
  color: $white;
}
@mixin sansLower() {
  @include defaultFont();
  @include glowText();  
}
@mixin sansLowerAlt() {
  @include sansLower();
  @include glowTextAlt();
}
@mixin sansLowerWhite() {
  @include sansLower();
  @include glowTextWhite();
}