$font-size-s: 12px;
$font-size: 16px;
$font-size-l: $font-size*2;
$font-size-ll: $font-size*5;

$breakpoint-width: 768px;

$spacer: 4px;

$white: #fff;

$magenta-l: #f9f;
$magenta: #f0f;
$magenta-d: #d0d;

$cyan: #0ff;
$cyan-d: #09d;