$font-size: 15px;
$font-size-m: $font-size*1.5;
$font-size-l: $font-size*2.5;
$font-size-ll: $font-size*5;

$max-content-width: 1280px;
$breakpoint-width: 768px;

$spacer: 3px;

$white: #fff;

$magenta-l: #f9f;
$magenta: #f0f;
$magenta-d: #d0d;

$cyan-l: #4ff;
$cyan: #0ff;
$cyan-d: #09d;