@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');
@import '_vars.scss';
@import '_mixins.scss';

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ html, body ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
html {
  height:100%;
}
body {
  height:0;
  min-height:100%;
  @include defaultFont();
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ headings ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
h1,h2 {
  word-wrap: break-word;
  @include displayFont();
  &.alt, .alt {
    @include displayFontAlt();
  }
}
h1 { font-size: $font-size-l }
h2 { font-size: $font-size-m }
@media(min-width:$breakpoint-width) {
  h1 { font-size: $font-size-ll }
  h2 { font-size: $font-size-l }
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ links ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
a {
  color: $white;
  text-decoration: none;
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ horizontal rules ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
hr {
  border:none;
  height:2px;
  background: $magenta-l;
  @include glowBox();
  &.alt {
    background: $cyan;
    @include glowBoxAlt();
  }
}

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ buttons ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
button {
  color: $white;
  letter-spacing: 2px;
}

.button {
  padding: $spacer*4;

  font-family: 'Lato', sans-serif;
  font-weight:400;
  font-size: $font-size;
  text-transform: uppercase;

  background: rgba(0,0,0,0.5);

  border: 1px solid $white;
  border-radius: $spacer*8;

  @include glowBoxAlt();
  transition: .25s box-shadow ease, 
              1s color ease, 
              1s background ease;
  &:hover {
    @include glowBoxAlt(25px);
  }

  &:active {
    transition: none;
    color: rgba(0,0,0,0.5);
    background: $white;
  }
}