@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');
@import '_vars.scss';

html {
  height:100%;
}

body {
  height:0;
  min-height:100%;

  font-family: 'Montserrat', sans-serif;  
  font-weight:600;
  font-size: $font-size;

  letter-spacing: 2px;
  line-height:1.4;

  color: $white;
}

h1 {
  font-family: 'Faster One', serif;
  text-transform: uppercase;
  line-height:1;

  text-shadow: 0px 0px 15px $magenta-d;
  color: $magenta-l;

  .alt {
    color: $cyan;
    text-shadow: 0px 0px 15px $cyan-d;
  }
}

a {
  font-weight:800;
  color: $white;
  text-decoration: none;
}

button {
  color: $white;
  letter-spacing: 2px;
}

.button {
  font-family: 'Lato', sans-serif;
  font-weight:400;

  font-size: $font-size;

  text-transform: uppercase;

  background: rgba(0,0,0,0.5);

  padding: $spacer*3;

  border: 1px solid $white;
  border-radius: $spacer*6;

  box-shadow: 0px 0px 5px $cyan;
  transition: .25s box-shadow ease;
  &:hover {
    box-shadow: 0px 0px 20px $cyan;
  }
}